In [11]:
import pandas as pd

In [12]:
df = pd.read_csv('dataset_Facebook.csv',sep=";")

In [13]:
df.columns

Index(['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday',
       'Post Hour', 'Paid', 'Lifetime Post Total Reach',
       'Lifetime Post Total Impressions', 'Lifetime Engaged Users',
       'Lifetime Post Consumers', 'Lifetime Post Consumptions',
       'Lifetime Post Impressions by people who have liked your Page',
       'Lifetime Post reach by people who like your Page',
       'Lifetime People who have liked your Page and engaged with your post',
       'comment', 'like', 'share', 'Total Interactions'],
      dtype='object')

In [14]:
df.shape

(500, 19)

In [15]:
sub1 = df[['Page total likes', 'Type', 'Category', 'Post Month', 'Post Weekday']]

In [16]:
sub2 = df[['Lifetime Post reach by people who like your Page', 'Lifetime People who have liked your Page and engaged with your post']]

In [17]:
sub1.shape

(500, 5)

In [18]:
sub2.shape

(500, 2)

In [19]:
sub3=pd.concat([sub1,sub2]) #concatinate two subsets

In [20]:
sub3.shape

(1000, 7)

In [21]:
sub4=sub3.sort_values(by='Type',ascending=True) #sort type column in ascending

In [22]:
sub4

,Page total likes,Type,Category,Post Month,Post Weekday,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post
438,98195.0,Link,2.0,3.0,6.0,NaN,NaN
470,91437.0,Link,1.0,2.0,3.0,NaN,NaN
41,138895.0,Link,1.0,12.0,6.0,NaN,NaN
43,138353.0,Link,1.0,12.0,5.0,NaN,NaN
45,138353.0,Link,1.0,12.0,4.0,NaN,NaN
...,...,...,...,...,...,...,...
495,NaN,NaN,NaN,NaN,NaN,2876.0,392.0
496,NaN,NaN,NaN,NaN,NaN,2104.0,301.0
497,NaN,NaN,NaN,NaN,NaN,2388.0,363.0
498,NaN,NaN,NaN,NaN,NaN,2452.0,370.0
499,NaN,NaN,NaN,NaN,NaN,2200.0,316.0

In [23]:
sub4.shape

(1000, 7)

In [24]:
sub5=sub4.transpose() #transpose row to column

In [25]:
sub5.shape

(7, 1000)

In [26]:
sub6=pd.pivot_table(sub4,index='Type') #optimization of data,increase the performace

In [27]:
sub6

        Category  Page total likes  Post Month  Post Weekday
Type
Link    1.136364     116363.181818    6.590909      4.272727
Photo   1.917840     122354.171362    6.805164      4.107981
Status  2.022222     132647.044444    9.066667      4.577778
Video   1.000000     135014.857143    9.571429      3.571429

In [28]:
sub6.shape

(4, 4)